#page-5 div {

    display: flex;
    justify-content: space-around;

}

#page-5 .message_head {
    width: inherit;
    display: grid;
    place-items: start;
    margin-right: 700px;
}
#page-5 img{
    border-radius: 100%;
    margin-bottom: 80px;
}