* {
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
font-family: "Nunito Sans", sans-serif;
}
:root {
    /* Hide Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
:root::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
}
ul,
ol {
    list-style: none;
}
.hideNavbar{
    margin-right: -600px;
}
header .nav_bar {
    display: flex;
    position: fixed;
    padding: 0 55%;
    justify-content: space-between;
    align-items: center;
    height: 100px; 
    width: 100%;
    top: 0;
    text-decoration: none;
    left: 0;
    /* z-index: 1000; */
    background-color:rgb(220, 255, 252);
}
/* .sticky {
    background-color: coral;
    position: fixed;
} */
nav button {
    color: black;
    display: none;
}

nav button:active {
    color: greenyellow;
}

nav ul {
    display: flex;
    gap: 2rem;
    transition: 0.5s;
}

.nav-links a {
    color: black;
    font-size: 1.2rem;
    transition: color 0.5s ease;
}

.nav-links a:hover {
    color:greenyellow;
}
.logo{
    margin-left: -700px;
    color:rgb(128, 0, 255);
    font-size: large;
}