@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    /* font-size: 16px; */
    /* overflow-x: hidden; */
}

:root {
    /* Hide Scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
:root::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* Placeholders Text Color */

::placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

::-ms-input-placeholder {
    color: #999;
}

ul,
ol {
    list-style: none;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.1rem;
}



body {
    background-color: #e8f7fd;
    line-height: 2;
    color: var(--primaryTextColor);
}
/* Home page */

.home-content .home-text {
    line-height: 1.2;
    position: absolute;
    left: 10%;
    top: 30%;
    z-index: 1;
}

.coloredText {
    color: rgb(247, 75, 104);
}

.home-content figure {
    min-width: 500px;
    width: 40%;
    position: absolute;
    right: 5%;
    bottom: 0;
}

.home-content figure img {
    width: 100%;

    opacity: 0.6;
    display: block;
}

.scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-name: scrolling;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.scroll i {
    font-size: 3rem;
}

@keyframes scrolling {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: none;
    }
}

/* Page 1 */
#page-1{
    background-color: #d3eff8;
    width: 100vw;
}

#page-1 .aboutMe {
    display: flex;
    gap: 4rem;
}

.aboutMe div {
    /* flex-basis: 40%; */
    width: 40vw;
    padding-left:0px;
    margin-left: -80px;
    
    /* box-shadow: 5px 5px 10px rgb(0, 0, 0); */
}

/* #page-1 img {
    height: 50vh;
    width: 30vh;
    background-color: aliceblue;
    display: block;
    border:3px solid#f086d9;
    border-radius: 10px;
} */
.aboutMe .img {
    /* height: 30vh; */
    margin-top: 5rem;
    background-image: url('miss.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.aboutMe h4 {
    color:blueviolet;
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

.aboutMe article {
    flex-basis: 60%;
    color: blueviolet;
}
/* page-2 */
#page-2{
    min-height: 0;
    background-color: #e8f7fd;;
    padding-bottom: 100px;

}

/* page 3 */
#page-3{
    min-height: 0;
    background-color: #e8f7fd;
    padding-bottom: 700px;
}
/* page 5 */
#page-5{
    background-color: #d3eff8;
}

/* Page 4 */

#page-4 {
    min-height: 0;
    background-color: #d3eff8;
    padding-bottom: 100px;
}

#page-4 .contact {
    display: flex;
    flex-wrap: nowrap;
}

.contact form {
    flex-basis: 60%;
}

.contact form > .row {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
}

.row input,
.row textarea {
    font-size: 1.1rem;
    padding: 1rem;
    background: transparent;
    border: #f52dda 2px solid;
    border-radius: 5px;
    flex-grow: 1;
    outline: none;
    color: var(--primaryTextColor);
    resize: vertical;
}

.contact h4 {
    font-size: 1.5rem;
}
.contact > div {
    margin-left: 2rem;
}

.contactInfo li {
    margin-top: 1rem;
}

.contactInfo i {
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    color: var(--hoverColor);
}

.contactInfo span {
    margin-left: 1rem;
    font-size: 1.2rem;
}
/* Page 5 */
#page-5{
    
    text-align: center;
}

/* Footer */

footer {
    background-color: #2e2c2c;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-medias {
    display: flex;
    gap: 2rem;
    width: 20px;
}

.social-medias img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--primaryTextColor);
    width: 50px;
    height: 50px;
    gap:2rem;
    border-radius: 25px;
    transition: 0.5s;
}

.social-medias a:hover {
    background-color: var(--secondBackgroundColor);
    border-radius:100px;
}

.copyright p {
    font-size: 1.3rem;
    margin-left: 30px;
}

@media only screen and (max-width: 1300px) {
    .page .container {
        width: 90%;
    }
    #page-3 .project {
        width: 33vw;
        height: 44vw;
    }
    #page-4 .contact {
        flex-direction: column-reverse;
    }
    .contact > div {
        margin-left: 0;
    }
    .contactInfo {
        margin-bottom: 2rem;
        width: 100%;
    }

    .contactInfo li {
        display: inline-block;
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1.4rem;
    }
    nav {
        height: 70px;
    }

    nav button {
        display: inline-block;
    }

    nav ul {
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        padding: 10% 5%;
        background-color: #111;
        width: 50%;
        height: 100%;
        gap: 1rem;
    }

    .hideNavbar {
        transform: translateX(-100vw);
    }

    .cover {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        transition: 0.5s;
        opacity: 0.5;
        z-index: 100;
    }

    .hidenCover {
        opacity: 0;
        visibility: hidden;
    }

    #page-1 .aboutMe {
        flex-direction: column;
    }

    .aboutMe figure {
        min-width: 200px;
        width: 70%;
    }
    .services li {
        flex-basis: 47%;
    }
    #page-3 .project {
        width: 36vw;
        height: 48vw;
    }

    .project h4 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1rem;
    }
    .btn {
        margin-top: 50px;
    }
    nav ul {
        width: 70%;
    }
    .nav-links a {
        font-size: 1rem;
    }
    .services li {
        flex-basis: 80%;
    }
    #page-3 .project {
        width: 60vw;
        height: 80vw;
    }
    .contactInfo li {
        display: block;
    }
    .contact form > .row {
        flex-direction: column;
    }

    .contact form .btn {
        align-self: center;
    }

    footer {
        height: 150px;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1rem;
    }
    p {
        font-size: 0.8rem;
    }
    .home-content figure img {
        display: none;
    }
    .services li {
        flex-basis: 100%;
    }
    .services h4 {
        font-size: 1.3rem;
    }

    #page-3 .project {
        width: 75vw;
        height: 100vw;
    }

    .project h4 {
        font-size: 1em;
    }

    .contactInfo span {
        font-size: 1.1rem;
    }

    footer .social-medias {
        gap: 0;
    }
}